In [1]:
##logistic regression

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns

In [2]:
data = sns.load_dataset('iris')

In [3]:
data

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [4]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [5]:
data.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [6]:
data.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [7]:
data.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [8]:
data['species'] != 'setosa'

0      False
1      False
2      False
3      False
4      False
       ...
145     True
146     True
147     True
148     True
149     True
Name: species, Length: 150, dtype: bool

In [9]:
data[data['species'] !='setosa']

     sepal_length  sepal_width  petal_length  petal_width     species
50            7.0          3.2           4.7          1.4  versicolor
51            6.4          3.2           4.5          1.5  versicolor
52            6.9          3.1           4.9          1.5  versicolor
53            5.5          2.3           4.0          1.3  versicolor
54            6.5          2.8           4.6          1.5  versicolor
..            ...          ...           ...          ...         ...
145           6.7          3.0           5.2          2.3   virginica
146           6.3          2.5           5.0          1.9   virginica
147           6.5          3.0           5.2          2.0   virginica
148           6.2          3.4           5.4          2.3   virginica
149           5.9          3.0           5.1          1.8   virginica

[100 rows x 5 columns]

In [10]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [11]:
data.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [12]:
data['species'] = data['species'].map({'versicolor': 0, 'virginica': 1})

In [13]:
data

     sepal_length  sepal_width  petal_length  petal_width  species
0             5.1          3.5           1.4          0.2      NaN
1             4.9          3.0           1.4          0.2      NaN
2             4.7          3.2           1.3          0.2      NaN
3             4.6          3.1           1.5          0.2      NaN
4             5.0          3.6           1.4          0.2      NaN
..            ...          ...           ...          ...      ...
145           6.7          3.0           5.2          2.3      1.0
146           6.3          2.5           5.0          1.9      1.0
147           6.5          3.0           5.2          2.0      1.0
148           6.2          3.4           5.4          2.3      1.0
149           5.9          3.0           5.1          1.8      1.0

[150 rows x 5 columns]

In [14]:
data.isnull().sum()

sepal_length     0
sepal_width      0
petal_length     0
petal_width      0
species         50
dtype: int64

In [15]:
data = data.dropna()

In [16]:
data.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [17]:
X = data.drop('species',axis=1)

In [18]:
y = data['species']

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
X_train,X_test,y_train,y_test = train_test_split(X,y,random_state=123)

In [21]:
y_train

141    1.0
135    1.0
59     0.0
103    1.0
91     0.0
      ...
107    1.0
133    1.0
67     0.0
142    1.0
116    1.0
Name: species, Length: 75, dtype: float64

In [38]:
print(pd.value_counts(y_train, normalize=True) * 100)

print(pd.value_counts(y_test, normalize=True) * 100)

species
1.0    50.666667
0.0    49.333333
Name: proportion, dtype: float64
species
0.0    52.0
1.0    48.0
Name: proportion, dtype: float64

In [22]:
from sklearn.linear_model import LogisticRegression

In [23]:
classifer = LogisticRegression()

In [24]:
classifer.fit(X_train,y_train)

LogisticRegression()

In [25]:
y_pred = classifer.predict(X_test)

In [33]:
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, f1_score

In [34]:
confusion_matrix = confusion_matrix(y_pred,y_test)

In [35]:
confusion_matrix

array([[13,  3],
       [ 0,  9]], dtype=int64)

In [37]:
print("Accuracy", accuracy_score(y_pred,y_test))
print("precision", precision_score(y_pred,y_test))
print("Recall", recall_score(y_pred,y_test))
print("F1 score", f1_score(y_pred,y_test))

Accuracy 0.88
precision 0.75
Recall 1.0
F1 score 0.8571428571428571

In [39]:
## hyper parameter tunning